.gist {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 1em 1.5em;
    display: block;
    margin-bottom: 1em;
}

.gist h3 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
}

.gist .files {
    margin-top: 1em;
}

.gist .file {
    margin-bottom: .5em;
}

.gist .file svg {
    width: 25px;
    height: 25px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: .5em;
    vertical-align: middle;
}

.gist .file .filename {
    font-size: 1.1rem;
    vertical-align: middle;
    margin-left: .5em;
}

.gist .gist-info {
    text-transform: uppercase;
    font-size: .7rem;
    margin-left: 1em;
    vertical-align: middle;
    color: var(--font-color);
    font-weight: bold;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    padding: .5em .7em;
}

.buttons-panel {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-panel .button {
    width: 1em;
    aspect-ratio: 1/1;
    display: block;
    font-size: 1rem;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2em;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    cursor: pointer;
}

.buttons-panel .page {
    font-size: 1.3rem;
    margin-left: .5em;
    margin-right: .5em;
}

.buttons-panel .button svg {
    height: 100%;
    width: 100%;
}

.buttons-panel .left-arrow svg {
    transform: rotate(180deg);
}

.date-input-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: .5em;
}