.gist {
    border-radius: 1em;
    border: 1px solid var(--border-color);
    padding: 1em 1.5em;
    display: block;
    margin-bottom: 1em;
    background: var(--theme-color2);
}

.gist h3 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
}

.gist .files {
    margin-top: 1em;
}

.gist .file {
    margin-bottom: .5em;
}

.gist .file svg {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: .5em;
    vertical-align: middle;
}

.gist .file .filename {
    font-size: 1.1rem;
    vertical-align: middle;
    margin-left: .5em;
}

.gist .gist-info {
    text-transform: uppercase;
    font-size: .7rem;
    margin-left: 1em;
    vertical-align: middle;
    color: var(--font-color);
    font-weight: bold;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: .5em .7em;
}

.gist .gist-info.private {
    background: transparent;
    border: 2px solid var(--main-color);
}

.buttons-panel {
    border-radius: 1em;
    border: 1px solid var(--border-color);
    padding: 1em;
    margin-bottom: 1em;
    background: var(--theme-color2);
}

.buttons-panel .button {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: .2em;
    margin-right: .5em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: bold;
}

.buttons-panel .button svg {
    height: 20px;
    width: 20px;
}

.buttons-panel .left-arrow svg {
    transform: rotate(180deg);
}