.profile {
    width: 250px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    position: fixed;
    padding: 1.5em;
}

.profile h2 {
    margin: 0;
}

.profile form {
    text-align: center;
    margin-bottom: 2em;
}

.profile input[type=password] {
    font-size: 1.1rem;
    border-radius: var(--border-radius);
    outline: none;
    border: 1px solid var(--border-color);
    padding: .5em;
    background: transparent;
    width: 90%;
}

.profile input[type=submit],
.profile .main-page-button {
    text-transform: uppercase;
    padding: .6em 1em;
    border-radius: var(--border-radius);
    font-weight: bold;
    background-color: var(--main-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    min-width: 80px;
    margin-top: 1em;
    text-align: center;
}

.profile .name-container {
    border-left: 2px solid var(--font-color);
    padding-left: 1em;
    margin-bottom: 2em;
}

.profile .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .buttons a {
    width: 1em;
    aspect-ratio: 1/1;
    display: block;
    font-size: 1.3rem;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2em;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
}